{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'less/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse"
                    data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pull-left" href="#">Hi {{ user.first_name|capfirst }}</a>
        </div>

        <div class="collapse navbar-collaspe">
            <ul class="navbar-nav nav">
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navbar-collapsible">
            <ul class="navbar-nav nav">
                {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'public:index' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}
        <!-- Content goes here! -->
    {% endblock %}
</div>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>